<footer id="footer" data-aos="fade-down">
    <h1>Find Us on Social Media</h1>
    <i class="fa fa-twitter pad" aria-hidden="true"></i>
    <i class="fa fa-facebook pad" aria-hidden="true"></i>
    <i class="fa fa-instagram pad" aria-hidden="true"></i>
    <i class="fa fa-envelope pad" aria-hidden="true"></i>

    <p id="paragraph">© Copyright 2020 Restaurant Name</p>
  </footer>