<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("partials/head.ejs"); -%>
</head>

<body>
  <div class="container-fluid background">
    <!-- Navbar -->
    <%- include("partials/header.ejs");  -%> 

    <!-- Title -->
    <div class="position">
      <h1 class="style-heading" data-aos="fade-right">About Us</h1>
    </div>

    <div class="div-background" data-aos="fade-up">
      <div class="div-padding">
        <h1 class="header" data-aos="fade-up" data-aos-delay="1500">
          About Us
        </h1>
        <p data-aos="fade-up" data-aos-delay="2000">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Auctor
          urna nunc id cursus metus. Faucibus turpis in eu mi. Ipsum faucibus
          vitae aliquet nec ullamcorper sit amet risus nullam. Libero justo
          laoreet sit amet cursus. Sem viverra aliquet eget sit amet tellus
          cras adipiscing enim. Adipiscing diam donec adipiscing tristique
          risus nec feugiat in fermentum. Posuere sollicitudin aliquam
          ultrices sagittis orci a. Ultrices dui sapien eget mi proin. Id
          consectetur purus ut faucibus pulvinar elementum integer.
        </p>
      </div>
    </div>

    <div class="container" data-aos="fade-right">
      <div class="row" style="padding-left: 85px;">
        <div class="col-sm-3 edit">
          <h3 data-aos="fade-up">18</h3>
          <p data-aos="fade-up">Years of Experience</p>
        </div>
        <div class="col-sm-3 edit">
          <h3 data-aos="fade-up">15000</h3>
          <p data-aos="fade-up">Happy Customers</p>
        </div>
        <div class="col-sm-3 edit">
          <h3 data-aos="fade-up">100</h3>
          <p data-aos="fade-up">Menus</p>
        </div>
        <div class="col-sm-3 edit">
          <h3 data-aos="fade-up">20</h3>
          <p data-aos="fade-up">Staffs</p>
        </div>
      </div>
    </div>

    <!-- Footers -->
    <%- include("partials/footer.ejs");  -%> 

    <%- include("partials/script.ejs");  -%> 
</body>

</html>