<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("partials/head.ejs"); -%>
</head>

<body>
  <div class="container-fluid background contimage">
    <!-- Navbar -->
    <%- include("partials/header.ejs");  -%> 
    <!-- Title -->
    <div class="position">
      <h1 class="style-heading" data-aos="fade-right">Contact Us</h1>
    </div>

    <div class="div-background transparent" data-aos="fade-up">
      <div class="div-padding">
        <h1 data-aos="fade-up" class="mb-5">
          Want to talk business? Have any queries? Fill the form below and we will reach out to you.
        </h1>
        <div>
          <form action="/contact" method="post">
            <div class="row abc">

              <div class="col-sm-6">
                <div class="form-group text-left ">
                  <label for="name">Name</label>
                  <input id="name" class="form-control" type="text" name="username" placeholder="Enter Name" required />
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group text-left">
                  <label for="email">Email</label>
                  <input id="email" class="form-control" type="email" name="useremail" placeholder="Enter email"
                    required />
                </div>
              </div>
              <div class="col-sm-12">
                <div class="form-group text-left">
                  <label for="message">Message</label>
                  <textarea id="message" class="form-control" name="message" placeholder="Enter Message" required
                    rows="4" cols="50"></textarea>
                </div>
              </div>

              <div class="col-sm-12">
                <div class="form-group">
                  <button type="submit" class="btn btn-outline-dark">
                    Submit
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- Footers -->
    <%- include("partials/footer.ejs");  -%> 

    <%- include("partials/script.ejs");  -%> 
</body>

</html>