<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Restaurant Name</title>

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
  </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
  </script>

  <!-- Font Awesome Icons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

  <!-- Animation on Scroll Files -->
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

  <!-- Local Files -->
  <link rel="stylesheet" href="css/contact.css" />
</head>

<body>
  <div class="container-fluid background">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light color">
      <a class="navbar-brand" href="/">Restaurant Logo</a>
      <button class="navbar-toggler" data-target="#my-nav" data-toggle="collapse" aria-controls="my-nav"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div id="my-nav" class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about" tabindex="-1" aria-disabled="true">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/menu" tabindex="-1" aria-disabled="true">Menu</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.theculinaryportfolio.com/blog" tabindex="-1" aria-disabled="true"
              target="_blank">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact" tabindex="-1" aria-disabled="true">Contact</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" action="/">
          <button class="btn btn-outline-light my-2 my-sm-0" type="submit">
            Book A Table
          </button>
        </form>
      </div>
    </nav>

    <!-- Title -->
    <div class="position">
      <h1 class="style-heading" data-aos="fade-right">Contact Us</h1>
    </div>

    <div class="div-background" data-aos="fade-up">
      <div class="div-padding">
        <h1 class="header" data-aos="fade-up" data-aos-delay="1500">
          Contact Us
        </h1>
        <p data-aos="fade-up" data-aos-delay="2000">
          Want to talk business? Have any queries? Fill the form below and we will reach out to you.
        </p>
        <div class="container">
          <form action="/contact" method="post">
            <div class="row abc">

              <div class="col-sm-6">
                <div class="form-group">
                  <label for="name">Name</label>
                  <input id="name" class="form-control" type="text" name="username" placeholder="Enter Name" required />
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label for="email">Email</label>
                  <input id="email" class="form-control" type="email" name="useremail" placeholder="Enter email"
                    required />
                </div>
              </div>
              <div class="col-sm-12">
                <div class="form-group">
                  <label for="message">Message</label>
                  <textarea id="message" class="form-control" name="message" placeholder="Enter Message" required
                    rows="4" cols="50"></textarea>
                </div>
              </div>

              <div class="col-sm-12">
                <div class="form-group">
                  <button type="submit" class="btn btn-outline-dark">
                    Submit
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- <div class="div-background abc">
      <h1>Contact Info</h1>
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label for="name">Name</label>
              <input id="name" class="form-control" type="text" name="username" placeholder="Enter Name" required />
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label for="name">Email</label>
              <input id="name" class="form-control" type="email" name="useremail" placeholder="Enter email" required />
            </div>
          </div>
        </div>
      </div>
    </div> -->

    <!-- Footers -->
    <footer id="footer" data-aos="fade-down">
      <h1>Find Us on Social Media</h1>
      <i class="fa fa-twitter pad" aria-hidden="true"></i>
      <i class="fa fa-facebook pad" aria-hidden="true"></i>
      <i class="fa fa-instagram pad" aria-hidden="true"></i>
      <i class="fa fa-envelope pad" aria-hidden="true"></i>

      <p id="paragraph">© Copyright 2020 Restaurant Name</p>
    </footer>

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>
    <script src="js/script.js"></script>
</body>

</html>