<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("partials/head.ejs"); -%>
</head>

<body>
  <div class="container-fluid background">
    <!-- Navbar -->
      <%- include("partials/header.ejs");  -%> 
    <!-- Title -->
    <div class="position">
      <h1 class="style-heading" data-aos="fade-right">Restaurant Name</h1>
      <div class="button-style">
        <button class="btn btn-outline-light btn-lg download-button lead" type="button" style="margin-right: 30px;"
          data-aos="fade-right">
          Book Now
        </button>
        <button class="btn btn-outline-light btn-lg download-button" type="button" onclick="location.href='/menu';"
          data-aos="fade-right">
          View Menu
        </button>
      </div>
    </div>
    <div class="div-background" data-aos="fade-up">
      <div class="div-padding">
        <h1 class="header" data-aos="fade-up" data-aos-delay="1500">
          About Us
        </h1>
        <p data-aos="fade-up" data-aos-delay="2000">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Auctor
          urna nunc id cursus metus. Faucibus turpis in eu mi. Ipsum faucibus
          vitae aliquet nec ullamcorper sit amet risus nullam. Libero justo
          laoreet sit amet cursus. Sem viverra aliquet eget sit amet tellus
          cras adipiscing enim. Adipiscing diam donec adipiscing tristique
          risus nec feugiat in fermentum. Posuere sollicitudin aliquam
          ultrices sagittis orci a. Ultrices dui sapien eget mi proin. Id
          consectetur purus ut faucibus pulvinar elementum integer.
        </p>
      </div>
    </div>

    <div class="container" data-aos="fade-right">
      <div class="row" style="padding-left: 85px;">
        <div class="col-sm-3 edit">
          <h3 data-aos="fade-up">18</h3>
          <p data-aos="fade-up">Years of Experience</p>
        </div>
        <div class="col-sm-3 edit">
          <h3 data-aos="fade-up">15000</h3>
          <p data-aos="fade-up">Happy Customers</p>
        </div>
        <div class="col-sm-3 edit">
          <h3 data-aos="fade-up">100</h3>
          <p data-aos="fade-up">Menus</p>
        </div>
        <div class="col-sm-3 edit">
          <h3 data-aos="fade-up">20</h3>
          <p data-aos="fade-up">Staffs</p>
        </div>
      </div>
    </div>

    <div class="div-background" data-aos="fade-right">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <i class="fa fa-birthday-cake fa-4x" aria-hidden="true" data-aos="fade-right"></i>
            <p class="pading" data-aos="fade-right">
              Even the all-powerful Pointing has no control about the blind
              texts it is an almost unorthographic.
            </p>
          </div>
          <div class="col-md-4">
            <i class="fa fa-building fa-4x" aria-hidden="true" data-aos="fade-right"></i>
            <p class="pading" data-aos="fade-right">
              Even the all-powerful Pointing has no control about the blind
              texts it is an almost unorthographic.
            </p>
          </div>
          <div class="col-md-4">
            <i class="fa fa-cutlery fa-4x" aria-hidden="true" data-aos="fade-right"></i>
            <p class="pading" data-aos="fade-right">
              Even the all-powerful Pointing has no control about the blind
              texts it is an almost unorthographic.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Reservation -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 xyz" data-aos="fade-up">
        <form action="/" method="post">
          <div class="row">
            <div class="abc">
              <h1>Make A Reservation</h1>
            </div>
            <!-- <form action="/" method="post"> -->
            <div class="col-sm-6">
              <div class="form-group">
                <label for="name">Name</label>
                <input id="name" class="form-control" type="text" name="name" placeholder="Enter Name" required />
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group">
                <label for="Email">Email</label>
                <input id="Email" class="form-control" type="text" name="Email" placeholder="Enter Email" required />
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group">
                <label for="number">Phone Number</label>
                <input id="number" class="form-control" type="text" name="Number" placeholder="Enter Number" required />
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group">
                <label for="time">Time</label>
                <input id="time" class="form-control" type="text" name="time" placeholder="Enter Time" required />
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group">
                <label for="persons">Persons</label>
                <input id="persons" class="form-control" type="text" name="persons" placeholder="Enter total Persons"
                  required />
              </div>
            </div>

            <div class="col-sm-12">
              <div class="form-group">
                <button type="submit" class="btn btn-outline-light">
                  Submit
                </button>
              </div>
            </div>
            <!-- </form> -->
          </div>
        </form>
      </div>

      <div class="col-sm-6" data-aos="fade-down">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14844.547864280572!2d70.4636599!3d21.5414991!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x2669c6919ea7d122!2sThe%20Grand%20Patel!5e0!3m2!1sen!2sin!4v1586269360157!5m2!1sen!2sin"
          width="100%" height="450" frameborder="0" style="border: 0;" allowfullscreen="" aria-hidden="false"
          tabindex="0"></iframe>
      </div>
    </div>
  </div>

  <!-- Footers -->
  <%- include("partials/footer.ejs");  -%> 

<%- include("partials/script.ejs");  -%> 
</body>

</html>