<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("partials/head.ejs"); -%>
</head>

<body>
    <div style="background-color: black;">
        <%- include("partials/header.ejs");  -%>
        <h1>
            Your requst is successfully received.
            Xyz your response here.
        </h1>
        <button onclick="location.href='/'" class="btn btn-outline-light">Go to HomePage</button>
    </div>
</body>

</html>